<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meetme">

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".test.TestActivity"></activity>
        <activity
            android:name=".ui.GuideActivity"
            android:theme="@style/AppThemeFull" />
        <activity android:name=".ui.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ui.IndexActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeFull">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.meetme.BmobContentProvider">
        </provider>

        <!-- OPPO 刘海屏适配 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" /> <!-- 小米水滴屏幕适配 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>


</manifest>